<div class="container">

  <h1>To-Do Application</h1>

  <hr>
    <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
        <div class="form-group">
            <label for="task">Task</label>
            <input type="text" class="form-control " id="task" placeholder="Enter task" ngModel name="task" required>
            <small *ngIf="taskForm.invalid && taskForm.dirty" id="errorMessage" id="errorMessage" class="form-text text-danger">Required
                field</small>
        </div>
  
        <button 
        [disabled]="taskForm.invalid" 
        id="submitButton" 
        type="submit" 
        class="btn btn-primary">Submit</button>
    </form>


  <hr>

  <table class="table">
      <thead>
          <tr>
              <th scope="col">Task</th>
              <th scope="col">Completed</th>
              <th scope="col">Delete</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let t of taskArray; index as i">
              <td>{{t.taskName}}</td>
              <td><input (change)="OnCheck(i)" id="myCheckbox" type="checkbox"></td>
              <td><button class="btn btn-danger btn-sm" (click)="onDelete(i)">Delete</button></td>
          </tr>

      </tbody>
  </table>
</div>